#box{
    height: 300px;
    width: 300px;
    /* background-color: #efefef; */
    /* background-color: red; */
    /* background-color: rgb(0, 0, 0); */
    /* background-color: rgba(1, 1, 1, 0.1); */
    /* background-color: hsl(148,100%  , 50%); */
    background-color: hsla(0, 90%, 42%, 0);
}
