input[type="tel"]{
    border: 2px solid red;
}
div[id^="box1"]{
    height: 200px;
    width: 300px;
    border: 2px solid red;
}
div[id*="container"]{
    height: 200px;
    width: 300px;
    border: 2px solid rgb(26, 180, 111);
}
/* div[id$="v"]{
    height: 200px;
    width: 300px;
    border: 2px solid rgb(111, 24, 138);
} */